<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/Admin/Book"><span><i class="fa fa-Book fa-fw"></i>Danh sách sách</span></a>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/Admin/Author"><i class="fa fa-pencil fa-fw"></i>Tác Giả</a>
            </li>
            <li>
                <a href="/Admin/User"><i class="fa fa-user fa-fw"></i> Người dùng</a>
            </li>
            <li>
                <a href="/Admin/Tag"><i class="fa fa-tags fa-fw"></i> Tag</a>
            </li>
            <li>
                <a href="/Admin/PublishingCompany"><span><i class="fa fa-building-o fa-fw"></i>Nhà xuất bản</span></a>
                <!-- /.nav-second-level -->
            </li>
            <li class="CategoryMenu">
                <a href="/Admin/Category"><span><i class="fa fa-list fa-fw"></i>Thể loại</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-cog fa-fw"></i> Quản lý chung</a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/Menu">Menu</a>
                    </li>

                    <li>
                        <a href="/Admin/Slide">Slide</a>
                    </li>
                    <li>
                        <a href="/Admin/Footer">Footer</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
