<div class="agile-main-top">
    <div class="container-fluid">
        <div class="row main-top-w3l py-2">
            <div class="col-lg-6 header-most-top">
                <p class="text-white text-lg-left text-center">
                    Bookstore Giá tốt & Uy tín hàng đầu
                    <i class="fas fa-shopping-cart ml-1"></i>
                </p>
            </div>
            <div class="col-lg-6 header-right text-right">
                <!-- header lists -->
                <ul>
                </ul>
                <!-- //header lists -->
            </div>
        </div>
    </div>
</div>
